* {
  margin: 0%;
  padding: 0%;
  box-sizing: content-box;
}
table {
  margin: 0 auto;
}

.tile {
  width: 70px;
  height: 70px;
  border: 1px solid blue;
  text-align: center;
  font-size: 36px;
  background-color: #fff;
  box-shadow: rgba(128, 128, 128, 0.5) 5px 5px;
}
